 <section  id="almyrida"  class="almyrida">
            <div class="rooms-inside">    
                <h2 class="rooms-title" >{{ site.data.almyrida.almyrida.title }}</h2>
                <h4 class="rooms-subtitle" >{{ site.data.almyrida.almyrida.subtitle }}</h4>
                <div class="column-left">
                     <div class="rooms-img">
                        <div class="flexslider-rooms">
                          <ul class="slides">
                              {% for image in site.data.almyrida.almyrida.image %}
                            <li data-thumb="{{ image.src | prepend: '/assets/thumbnails/'  | prepend: site.baseurl | prepend: site.url }}">
                              <img class="lazy" src="{{ image.src | prepend: '/assets/' | prepend: site.baseurl | prepend: site.url }}" />
                            </li>
                              {% endfor %}
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="column-right">
                    
                    <div class="rooms-description"> 
                            <p> {{ site.data.almyrida.almyrida.text }}</p>
                    </div>
                    
                   <table class="rooms">
                       <thead>
                           {% assign rooms = site.rooms | sort: 'order' %}
                           {% tablerow room in rooms %}
                             {{ room.title }}
                           {% endtablerow %}
                       </thead>
                       <tbody>                     
                           {% tablerow room in rooms %}
                             {{ room.prices-from }}
                           {% endtablerow %}
                           </tbody>
                    </table>
                   
                </div>
            <div class="rooms-footer">
                 <div class="link-button"><a href="#reviews" class="button  button-flat button-primary">
                        <i class="icon-chevron-right"></i>Reviews</a></div>
                </div>
                </div>
        </section>
