<footer class="site-footer">

  <div class="wrap">
    <div class="footer-col-1 column">
      <ul>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li>
            <i class="fa fa-facebook"></i>
          <a href="https://github.com/{{ site.username }}">
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/{{ site.username }}">
           <i class="fa fa-twitter"></i>
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">Made by Techangel</p>
    </div>

  </div>

</footer>
