<section id="map" class="map">
<!--    <img src="http://api.tiles.mapbox.com/v4/dimdev.map-931m9s3u/24.20442,35.45140,9/1200x535.png?access_token=pk.eyJ1IjoiZGltZGV2IiwiYSI6IlM2RWhINUEifQ.f8o-OSDJ_OwozYsL89QvoQ" alt=""> -->
 <iframe width='100%' height='560px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/dimdev.map-931m9s3u/attribution,zoompan.html?access_token=pk.eyJ1IjoiZGltZGV2IiwiYSI6IlM2RWhINUEifQ.f8o-OSDJ_OwozYsL89QvoQ'></iframe>
    <div id="contact" class="contact">
        <h2>Contact</h2>
                <div class="email">
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:info@ansi-almyrida.gr">info@ansi-almyrida.gr</a>
                </div>
                <div class="phone">
                    <i class="fa fa-phone"></i>+30 6979330945
                </div>
        </div>    
    </section>