{% assign rooms = site.rooms | sort: 'order' %}
{% for room in rooms %}
    <section id="{{ room.section }}"class="rooms {{ room.section }} ">
            <div class="rooms-inside">    
                <h2 class="rooms-title" >{{ room.title }} </h2>
                <h4 class="rooms-subtitle" >{{ room.subtitle }} </h4>
                <div class="column-left">
                     <div class="rooms-img">
                        <div class="flexslider-rooms">
                          <ul class="slides">                              
                              {% capture appartment %} {{ room.section }} {% endcapture %}
                              {% for image in room.images %}                             
                                <li data-thumb="{{ image.image | prepend: 'assets/thumbnails/'  | prepend: site.baseurl | prepend: site.url }}">
                                    {{ image.section }}
                                  <img class="lazy" src="/assets/loading.jpg" data-src="{{ image.image | prepend: 'assets/' | prepend: site.baseurl | prepend: site.url  }}" width="662" height="445"/>
                                </li>
                               {% endfor %}
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="column-right">
                    
                    <div class="rooms-description"> {{ room.content }} </div>
                    
                   <table class="prices">
                       <thead>
                           <tr>
                               {% for season in site.data.season.seasons.season %}
                                   <th class="row_0">{{ season.title }}</th>
                               {% endfor %}
                           </tr>
                       </thead>
                           <tbody>
                                 <tr>
                                     <td> {{ room.low }} </td>
                                     <td> {{ room.medium1 }} </td>
                                     <td> {{ room.high }} </td>
                                    <td> {{ room.medium2 }} </td>
                                  </tr> 
                               </tbody>
                    </table>
                   
                </div>
            <div class="rooms-footer">
                 <div class="link-button"><a href="#reservation" class="button  button-flat button-primary">
                        <i class="icon-chevron-right"></i>Ask the owner</a></div>
                </div>
                </div>
        </section>
{% endfor %}