 <section class="slider">
        <div class="flexslider">
          <ul class="slides">
              {% for image in site.data.slideshow.slideshow.images %} 
            <li>
  	    	     <img class="lazy" src="/assets/loading.jpg" data-src="{{ image.src | prepend: 'assets/'  | prepend: site.baseurl | prepend: site.url}} " height="400px">
  	    		</li>
              {% endfor %}
  	    	</ul>
        </div>
     
        <div class="slideshow-message">
            <div class="slideshow-message-inside">
                    <h1 class="slideshow-title">{{ site.data.slideshow.slideshow.title }}</h1>
                    <h3 class="slideshow-subtitle">{{ site.data.slideshow.slideshow.subtitle }}</h3>
                </div>
         </div>
      </section>



