<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
    <div class="page">
        <div class="page-wrapper">
      
    {% include slideshow.html %}
           
    {% include menu.html %}
            
    {% include almyrida.html %}
    
    {% include rooms.html %}
        
	{% include reviews.html %}
               
    {% include reservation.html %}
        
    {% include map.html %}
            
            </div>
        </div>
         <!-- Js all-->
         <script type="text/javascript" src="js/js-all.js"></script>         
      
    </body>
</html>